import url(href="https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}

root{
    --branca: #ffffff;
    --cor-fundo: #d8dbdf;
    --botao1: #1d1d1d;
    --botao2: #222;
    --cor1: #94b5a0;
    --cor2: #f59e0b;
}

body{
    margin: 25px;
}
